<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login">
  <mat-form-field>
    <mat-label >Username</mat-label>
    <input type="text" placeholder="Username" matInput formControlName="username" [errorStateMatcher]="matcher">
    <mat-error *ngIf="loginForm.get('username') && !loginForm.hasError('required')">Please
      enter your username
    </mat-error>
    <mat-error *ngIf="loginForm.hasError('required')">Description is <strong>required</strong></mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" placeholder="Password" matInput formControlName="password" [errorStateMatcher]="matcher">
    <mat-error *ngIf="loginForm.get('password') && !loginForm.hasError('required')">Please
      enter your password
    </mat-error>
    <mat-error *ngIf="loginForm.hasError('required')">Description is <strong>required</strong></mat-error>
  </mat-form-field>
  <mat-button-toggle>
    <button type="submit" mat-button [disabled]="loginForm.invalid">LogIn</button>
  </mat-button-toggle>
</form>
